body {
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: center;
}
h1 {
  color: #333;
}
.profile-photo {
  margin: 20px 0;
}
.photo {
  max-width: 200px;
  height: auto;
  border-radius: 50%;
}
p {
  font-size: 16px;
  color: #666;
}
a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
a:hover {
  background-color: #0056b3;
}
form {
  margin-top: 10px;
}
button {
  padding: 5px 10px;
  background-color: #f30d19;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #218838;
}